<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="aegis_attendance_app.aegis_attendance_app" android:installLocation="preferExternal" android:versionName="3.0" android:versionCode="3">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<application android:label="GpsApp.Android"></application>
</manifest>